@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Poppins:wght@300;400;500&family=Roboto:wght@700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

summary, details {
  font-size: inherit;
  font-weight: inherit;
  list-style: none;
}

/*--------------------*/
#main, .container, .notes__tag, .pseudo-select__chosen, .footer__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.task__buttons, .header, .header__left, .header__selects, .header__right, .footer, .authorization__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notes, .notes__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.note, .pseudo-select__options, .authorization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.authorization__form, .authorization__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pseudo-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.task__checkbox, .subtask__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.25) inset;
          box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.25) inset;
  border-radius: 5px;
}

.task__checkbox:checked, .subtask__checkbox:checked {
  background-image: url("../../images/note/checkmark.svg");
  background-size: contain;
}

html, body {
  background: fixed url("../../images/background.jpg") center repeat;
  background-size: contain;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #000000;
}

#main {
  position: absolute;
  top: 70px;
  bottom: 46px;
  left: 0;
  right: 0;
  overflow: auto;
}

.container {
  height: 100%;
  min-width: 100%;
  padding: 0 20px;
}

::-webkit-scrollbar {
  height: 10px;
  background: #38383880;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #383838;
  border-radius: 10px;
}

a, a:hover {
  color: #000;
}

@media screen and (max-width: 767px) {
  #main {
    top: 121px;
  }
}

.greeting-note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 317px;
  height: 319px;
  background-image: url("../../images/note.png");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: rotate(-5.32deg);
          transform: rotate(-5.32deg);
}

.greeting-note__transparent-rotated-shadow-div {
  margin-top: 16px;
  width: 300px;
  height: 283px;
  -webkit-box-shadow: -3px 5px 2px rgba(0, 0, 0, 0.25);
          box-shadow: -3px 5px 2px rgba(0, 0, 0, 0.25);
  -webkit-transform: rotate(-3.32deg);
          transform: rotate(-3.32deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px;
}

.greeting-note__content {
  font-family: 'Grape Nuts', cursive;
  font-size: 24px;
  text-align: center;
}

.greeting-note__animated-link {
  display: inline-block;
  height: 40px;
  font-size: 26px;
  font-weight: bold;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  font-size: 26px;
  cursor: pointer;
}

.greeting-note__animated-link:hover {
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
  font-size: 28px;
}

.animated-link {
  background-image: linear-gradient(-225deg, #ff1361 15%, #457df5 35%, #45b412 45%, #12b468 55%, #456ef5 70%, #ff1361 85%);
  background-size: auto auto;
  background-clip: border-box;
  background-clip: text;
  background-size: 200% auto;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: textclip 2s linear infinite alternate;
          animation: textclip 2s linear infinite alternate;
  display: inline-block;
}

@-webkit-keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.notes {
  height: 100%;
  min-width: 100%;
  padding: 50px 60px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.notes__tags {
  margin-bottom: -2px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: none;
}

.notes__tag {
  height: 38px;
  width: 70px;
  background-color: #ffffff;
  border-radius: 10px 10px 0px 0px;
}

.notes__tag_active {
  z-index: 3;
  -webkit-box-shadow: 2px -1px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 2px -1px 2px rgba(0, 0, 0, 0.25);
}

.notes__note {
  margin-right: 40px;
}

.notes__note:last-child {
  margin-right: 0;
}

.note {
  background-color: #ffffff;
  min-width: 288px;
  -webkit-box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.note__title {
  padding-block: 17px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #383838;
}

.note__tasks {
  color: #383838;
}

.note__task {
  cursor: -webkit-grab;
  cursor: grab;
  width: 248px;
  background-image: url("../../images/paper.jpg");
  background-size: cover;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  min-height: 45px;
  padding: 5px;
  margin-bottom: 11px;
}

.note__task:last-child {
  margin-bottom: 0;
}

.note__addBtn {
  margin-top: 5px;
  margin-left: auto;
  background-color: transparent;
}

.task__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.task__date {
  display: inline-block;
  margin-bottom: 1px;
  height: 15px;
  min-width: 45px;
  padding: 0 2px;
  border-radius: 5px;
  background-color: #e28d29c2;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
}

.task__checkbox-div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.task__checkbox-div label {
  color: #383838;
}

.task__checkbox {
  height: 35px;
  width: 35px;
  margin-left: 5px;
}

.task__summary {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: -24px;
  -webkit-transform: translate(0, 6px);
          transform: translate(0, 6px);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  cursor: pointer;
}

.task__summary_active, .task__details_active {
  border: 1px solid #C4C4C4;
  border-radius: 2px;
  margin-top: 0;
  width: 100%;
  padding: 3px;
}

.task__details {
  margin-top: 12px;
  padding-inline: 12px;
}

.task__buttons {
  width: 100%;
}

.task__paragraph {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 16px;
}

.task__subtasks li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.task__subtask {
  margin-bottom: 9px;
  font-size: 16px;
  line-height: 24px;
  margin-right: 2px;
}

.task__subtask:last-child {
  margin-bottom: 9px;
}

.subtask__checkbox {
  height: 25px;
  width: 25px;
  margin-right: 2px;
}

.note__message {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #38383880;
}

@media screen and (max-width: 575px) {
  .notes__tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .notes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

#header {
  background: url("../../images/paper.jpg");
  background-size: contain;
  background-repeat: repeat;
  -webkit-box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  overflow: visible;
  z-index: 11;
}

#header-extra {
  display: none;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url("../../images/paper.jpg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/paper.jpg");
  background-size: contain;
  background-repeat: repeat;
  -webkit-box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  height: 51px;
  overflow: visible;
  border-radius: 0 0 30px 30px;
  z-index: 10;
}

.header {
  width: 98%;
}

.header__logo {
  padding-right: 63px;
  cursor: pointer;
}

.pseudo-select {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 63px;
  font-family: 'Roboto', sans-serif;
}

.pseudo-select__name {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 5px;
  color: #383838;
}

.pseudo-select__content {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.pseudo-select__chosen {
  cursor: pointer;
  font-weight: 400;
}

.pseudo-select__chosen img {
  margin-left: 1px;
}

.pseudo-select__options {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url("../../images/paper.jpg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/paper.jpg");
  -webkit-box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  padding: 5px;
  border-radius: 5px;
  margin-top: 3px;
  position: absolute;
}

.pseudo-select__options input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 30px;
  cursor: pointer;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  font-weight: 300;
  padding: 1px 3px;
  margin-bottom: 5px;
  max-width: 110px;
  color: #ffffff;
  background-color: #383838;
  border-radius: 5px;
}

.pseudo-select__options input:hover {
  font-weight: 400;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
  color: #383838;
  background-color: transparent;
  border: 2px solid #383838;
}

.pseudo-select__options button {
  background-color: transparent;
}

.header__right button {
  background-color: transparent;
}

.header__userBtn {
  margin-left: 17px;
}

@media screen and (max-width: 767px) {
  #header {
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  }
  #header-extra {
    display: block;
  }
}

#footer {
  background: url("../../images/paper.jpg");
  background-size: contain;
  background-repeat: repeat;
  height: 46px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.footer {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 20px;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer li {
  padding-left: 5px;
}

.footer__email a {
  font-style: italic;
  font-weight: 500;
}

.footer__social-media {
  margin-left: 43px;
}

.footer__logo {
  margin-left: 43px;
}

@media screen and (max-width: 767px) {
  .footer__email {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .footer__logo {
    display: none;
  }
}

.authorization {
  height: 300px;
  width: 510px;
  background-image: url(../../images/paper.jpg);
  background-size: contain;
  background-repeat: repeat;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.authorization__form {
  height: 100%;
  width: 100%;
  padding: 40px 70px;
}

.authorization__title {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #383838;
}

.authorization__inputs {
  width: 100%;
}

.authorization__inputs input {
  width: 100%;
  height: 40px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 15px;
  padding: 8px 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.authorization__inputs input::-webkit-input-placeholder {
  color: #383838;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.authorization__inputs input:-ms-input-placeholder {
  color: #383838;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.authorization__inputs input::-ms-input-placeholder {
  color: #383838;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.authorization__inputs input::placeholder {
  color: #383838;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.authorization__inputs input:last-child {
  width: 100%;
  margin-bottom: 0;
}

.authorization__buttons {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.authorization__tip {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  color: #383838;
}

.authorization__tip a {
  font-weight: 400;
  cursor: pointer;
}

.authorization__error {
  font-weight: 400;
  color: crimson;
}

.authorization__btn {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  height: 40px;
  width: 140px;
  background-color: #383838;
  color: #ffffff;
  border-radius: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  cursor: pointer;
}

.authorization__btn:hover {
  -webkit-transition: color 0.4s ease-out;
  transition: color 0.4s ease-out;
  color: #383838;
  background-color: transparent;
  border: 2px solid #383838;
}

@media screen and (max-width: 767px) {
  .authorization {
    height: 340px;
    width: 480px;
  }
  .authorization__btn {
    margin-left: auto;
  }
  .authorization__tip {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 575px) {
  .authorization {
    width: 380px;
  }
  .authorization__form {
    padding: 40px 40px;
  }
}

@media screen and (max-width: 400px) {
  .authorization {
    width: 350px;
  }
}
