<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="time, management, keeps, notes, plans, dashboard">
    <meta name="description" content="Easy! time management app">
    <title>Easy!</title>
    <link rel="stylesheet" href="../styles/css/index.css">
</head>
<body>
    <header id="header">
        <div class="container">
            <div class="header">
                <div class="header__left">
                    <a href="./dashboard.html">
                        <img class="header__logo" src="../images/logo.svg">
                    </a>
                    <nav class="header__selects">
                        <div class="header__select select">
                            <label class="select__label">Workspace</label>
                            <select class="select__options">
                                <option>Mine</option>
                                <option>My</option>
                            </select>
                        </div>
                        <div class="header__select select">
                            <label class="select__label">Board</label>
                            <select class="select__options">
                                <option>Study</option>
                            </select>
                        </div>
                    </nav>
                </div>
                <div class="header__right">
                    <button class="header__moonBtn">
                        <img src="../images/moon.svg">
                    </button>
                    <button class="header__userBtn">
                        <a href="./signUp.html">
                            <img src="../images/user.svg">
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </header>
    <header id="header-additional-mobile">
        <div class="container">
            <nav class="header__selects">
                <div class="header__select select">
                    <label class="select__label">Workspace</label>
                    <select class="select__options">
                        <option>Mine</option>
                        <option>My</option>
                    </select>
                </div>
                <div class="header__select select">
                    <label class="select__label">Board</label>
                    <select class="select__options">
                        <option>Study</option>
                    </select>
                </div>
            </nav>
        </div>
    </header>
    <main id="main">
        <div class="notes">
            <div class="notes__tags">
                <div class="notes__tag">
                </div>
                <div class="notes__tag notes__tag_active">
                </div>
                <div class="notes__tag">
                </div>
            </div>
            <section class="notes__note note">
                <h2 class="note__title">To Do</h2>
                <div class="note__tasks">
                    <div class="note__task task">
                        <div class="task__tags">
                            <time class="task__date">18 мар</time>
                            <div class="task__checkbox-div">
                                <label for="a">1/3</label>
                                <input class="task__checkbox" type="checkbox" id="a">
                            </div>
                        </div>
                        <details>
                            <summary class="task__summary">Bonjorno</summary>
                            <div class="task__details">
                                <p class="task__paragraph">Small or not so description of this complex task</p>
                                <ul class="task__subtasks">
                                    <li class="task__subtask subtask">
                                        <input class="subtask__checkbox" type="checkbox" id="q">
                                        <label for="q">First subitem</label>
                                    </li>
                                    <li class="task__subtask subtask">
                                        <input class="subtask__checkbox" type="checkbox" id="w">
                                        <label for="w">Second subitem</label>
                                    </li>
                                    <li class="task__subtask subtask">
                                        <input class="subtask__checkbox" type="checkbox" id="e">
                                        <label for="e">Third subitem</label>
                                    </li>
                                </ul>
                                <p class="task__paragraph">..maybe a helpful link</p>
                            </div>
                            <button class="task__deleteBtn">
                                <img src="../images/note/delete.svg">
                            </button>
                        </details>
                    </div>
                </div>
                <button class="note__addBtn">
                    <img src="../images/note/add.svg">
                </button>
            </section>
            <section class="notes__note note">
                <h2 class="note__title">In Process</h2>
                <div class="note__tasks">
                    <div class="note__task task">
                        <div class="task__tags">
                            <time class="task__date">18 мар</time>
                            <div class="task__checkbox-div">
                                <label for="a">1/3</label>
                                <input class="task__checkbox" type="checkbox" id="a">
                            </div>
                        </div>
                        <details>
                            <summary class="task__summary">Bonjorno</summary>
                            <div class="task__details">
                                <p class="task__paragraph">Small or not so description of this complex task</p>
                                <ul class="task__subtasks">
                                    <li class="task__subtask subtask">
                                        <input class="subtask__checkbox" type="checkbox" id="q">
                                        <label for="q">First subitem</label>
                                    </li>
                                    <li class="task__subtask subtask">
                                        <input class="subtask__checkbox" type="checkbox" id="w">
                                        <label for="w">Second subitem</label>
                                    </li>
                                    <li class="task__subtask subtask">
                                        <input class="subtask__checkbox" type="checkbox" id="e">
                                        <label for="e">Third subitem</label>
                                    </li>
                                </ul>
                                <p class="task__paragraph">..maybe a helpful link</p>
                            </div>
                            <button class="task__deleteBtn">
                                <img src="../images/note/delete.svg">
                            </button>
                        </details>
                    </div>
                    <div class="note__task task">
                        <div class="task__tags">
                            <time class="task__date">18 мар</time>
                            <div class="task__checkbox-div">
                                <label for="a">1/3</label>
                                <input class="task__checkbox" type="checkbox" id="a">
                            </div>
                        </div>
                        <details open>
                            <summary class="task__summary">Bonjorno</summary>
                            <div class="task__details">
                                <p class="task__paragraph">Small or not so description of this complex task</p>
                                <ul class="task__subtasks">
                                    <li class="task__subtask subtask">
                                        <input class="subtask__checkbox" type="checkbox" id="q">
                                        <label for="q">First subitem</label>
                                    </li>
                                    <li class="task__subtask subtask">
                                        <input class="subtask__checkbox" type="checkbox" id="w">
                                        <label for="w">Second subitem</label>
                                    </li>
                                    <li class="task__subtask subtask">
                                        <input class="subtask__checkbox" type="checkbox" id="e">
                                        <label for="e">Third subitem</label>
                                    </li>
                                </ul>
                                <p class="task__paragraph">..maybe a helpful link</p>
                            </div>
                            <button class="task__deleteBtn">
                                <img src="../images/note/delete.svg">
                            </button>
                        </details>
                    </div>
                    <div class="note__task task">
                        <div class="task__tags">
                            <time class="task__date">18 мар</time>
                            <div class="task__checkbox-div">
                                <label for="a">1/3</label>
                                <input class="task__checkbox" type="checkbox" id="a">
                            </div>
                        </div>
                        <details>
                            <summary class="task__summary">Bonjorno</summary>
                            <div class="task__details">
                                <p class="task__paragraph">Small or not so description of this complex task</p>
                                <ul class="task__subtasks">
                                    <li class="task__subtask subtask">
                                        <input class="subtask__checkbox" type="checkbox" id="q">
                                        <label for="q">First subitem</label>
                                    </li>
                                    <li class="task__subtask subtask">
                                        <input class="subtask__checkbox" type="checkbox" id="w">
                                        <label for="w">Second subitem</label>
                                    </li>
                                    <li class="task__subtask subtask">
                                        <input class="subtask__checkbox" type="checkbox" id="e">
                                        <label for="e">Third subitem</label>
                                    </li>
                                </ul>
                                <p class="task__paragraph">..maybe a helpful link</p>
                            </div>
                            <button class="task__deleteBtn">
                                <img src="../images/note/delete.svg">
                            </button>
                        </details>
                    </div>
                    <div class="note__task task">
                        <div class="task__tags">
                            <time class="task__date">18 мар</time>
                            <div class="task__checkbox-div">
                                <label for="a">1/3</label>
                                <input class="task__checkbox" type="checkbox" id="a">
                            </div>
                        </div>
                        <details>
                            <summary class="task__summary">Bonjorno</summary>
                            <div class="task__details">
                                <p class="task__paragraph">Small or not so description of this complex task</p>
                                <ul class="task__subtasks">
                                    <li class="task__subtask subtask">
                                        <input class="subtask__checkbox" type="checkbox" id="q">
                                        <label for="q">First subitem</label>
                                    </li>
                                    <li class="task__subtask subtask">
                                        <input class="subtask__checkbox" type="checkbox" id="w">
                                        <label for="w">Second subitem</label>
                                    </li>
                                    <li class="task__subtask subtask">
                                        <input class="subtask__checkbox" type="checkbox" id="e">
                                        <label for="e">Third subitem</label>
                                    </li>
                                </ul>
                                <p class="task__paragraph">..maybe a helpful link</p>
                            </div>
                            <button class="task__deleteBtn">
                                <img src="../images/note/delete.svg">
                            </button>
                        </details>
                    </div>
                </div>
                <button class="note__addBtn">
                    <img src="../images/note/add.svg">
                </button>
            </section>
            <section class="notes__note note">
                <h2 class="note__title">Completed</h2>
                <div class="note__tasks">
                    <div class="note__task task">
                        <div class="task__tags">
                            <time class="task__date">18 мар</time>
                            <div class="task__checkbox-div">
                                <label for="a">1/3</label>
                                <input class="task__checkbox" type="checkbox" id="a" checked>
                            </div>
                        </div>
                        <details>
                            <summary class="task__summary">Bonjorno</summary>
                            <div class="task__details">
                                <p class="task__paragraph">Small or not so description of this complex task</p>
                                <ul class="task__subtasks">
                                    <li class="task__subtask subtask">
                                        <input class="subtask__checkbox" type="checkbox" id="q">
                                        <label for="q">First subitem</label>
                                    </li>
                                    <li class="task__subtask subtask">
                                        <input class="subtask__checkbox" type="checkbox" id="w">
                                        <label for="w">Second subitem</label>
                                    </li>
                                    <li class="task__subtask subtask">
                                        <input class="subtask__checkbox" type="checkbox" id="e">
                                        <label for="e">Third subitem</label>
                                    </li>
                                </ul>
                                <p class="task__paragraph">..maybe a helpful link</p>
                            </div>
                            <button class="task__deleteBtn">
                                <img src="../images/note/delete.svg">
                            </button>
                        </details>
                    </div>
                </div>
                <button class="note__addBtn">
                    <img src="../images/note/add.svg">
                </button>
            </section>
            <section class="notes__note note">
                <h2 class="note__title">Archived</h2>
                <div class="note__tasks">
                    <h3 class="note__message">Nothing archived</h3>
                </div>
                <button class="note__addBtn">
                    <img src="../images/note/add.svg">
                </button>
            </section>
            <section class="notes__note note">
                <h2 class="note__title">Archived</h2>
                <div class="note__tasks">
                    <h3 class="note__message">Nothing archived</h3>
                </div>
                <button class="note__addBtn">
                    <img src="../images/note/add.svg">
                </button>
            </section>
            <section class="notes__note note">
                <h2 class="note__title">Archived</h2>
                <div class="note__tasks">
                    <h3 class="note__message">Nothing archived</h3>
                </div>
                <button class="note__addBtn">
                    <img src="../images/note/add.svg">
                </button>
            </section>
        </div>
    </main>
    <footer id="footer">
        <div class="container">
            <div class="footer">
                <div class="footer__email">Fill free to contact me: <a href="#">mary4798713@gmail.com</a></div>
                <div class="footer__social-media">I'm on social media:
                    <ul>
                        <li>
                            <a href="https://t.me/rariramz">
                                <img src="../images/social-media/telegram.svg">
                            </a>
                        </li>
                        <li>
                            <a href="https://vk.com/rariramz">
                                <img src="../images/social-media/vk.svg">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/rariramz">
                                <img src="../images/social-media/linkedin.svg">
                            </a>
                        </li>
                        <li>
                            <a href="https://discordapp.com/users/666325574192463883">
                                <img src="../images/social-media/discord.svg">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer__logo">
                    <img src="../images/logo-min.svg">
                </div>
            </div>
        </div>
    </footer>
</body>
</html>