<footer id="footer">
    <div class="container flex-row__center">
        <div class="footer">
            <div>Fill free to contact me: <a href="#" class="italic">mary4798713@gmail.com</a></div>
            <div class="flex-row__center">I'm on social media:
                <ul>
                    <li>
                        <a href="https://t.me/rariramz">
                            <img src="../images/social-media/telegram.svg">
                        </a>
                    </li>
                    <li>
                        <a href="https://vk.com/rariramz">
                            <img src="../images/social-media/vk.svg">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/rariramz">
                            <img src="../images/social-media/linkedin.svg">
                        </a>
                    </li>
                    <li>
                        <a href="https://discordapp.com/users/666325574192463883">
                            <img src="../images/social-media/discord.svg">
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <img src="../images/logo-min.svg">
            </div>
        </div>
    </div>
</footer>