<header id="header">
    <div class="container flex-row__center">
        <div class="header flex-row__space-between">
            <div class="flex-row__space-between">
                <img class="logo" src="../images/logo.svg">
                <nav class="flex-row__space-between">
                    <div class="select">
                        <label>Workspace</label>
                        <select>
                            <option>Mine</option>
                        </select>
                    </div>
                    <div class="select">
                        <label>Board</label>
                        <select>
                            <option>Study</option>
                        </select>
                    </div>
                </nav>
            </div>
            <div class="flex-row__space-between">
                <img src="../images/moon.svg">
                <a href="#" class="user">
                    <img src="../images/user.svg">
                </a>
            </div>
        </div>
    </div>
</header>