<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/css/index.css">
</head>
<body>
    <header id="header">
        <div class="container">
            <div class="header">
                <div class="header__left">
                    <img class="header__logo" src="../images/logo.svg">
                    <nav class="header__selects">
                        <div class="header__select select">
                            <label class="select__label">Workspace</label>
                            <select class="select__options">
                                <option>Mine</option>
                            </select>
                        </div>
                        <div class="header__select select">
                            <label class="select__label">Board</label>
                            <select class="select__options">
                                <option>Study</option>
                            </select>
                        </div>
                    </nav>
                </div>
                <div class="header__right">
                    <button class="header__moonBtn">
                        <img src="../images/moon.svg">
                    </button>
                    <button class="header__userBtn">
                        <img src="../images/user.svg">
                    </button>
                </div>
            </div>
        </div>
    </header>
    <main id="main">
        <div class="container">
            <div class="main__notes">
                <section class="main__note note">
                    <h2 class="note__title">To Do</h2>
                    <div class="note__tasks">
                        <div class="note__task task">
                            <time class="task__date">18 мар</time>
                            <details>
                                <summary class="task__summary">Bonjorno</summary>
                                <p class="task__paragraph">Small or not so description of this complex task</p>
                                <ul class="task__subtasks">
                                    <li class="task__subtask subtask">
                                        <input class="subtask__checkbox" type="checkbox">first subitem
                                    </li>
                                    <li class="task__subtask subtask">
                                        <input class="subtask__checkbox" type="checkbox">second subitem
                                    </li>
                                    <li class="task__subtask subtask">
                                        <input class="subtask__checkbox" type="checkbox">third subitem
                                    </li>
                                </ul>
                                <p class="task__paragraph">..maybe a helpful link</p>
                            </details>
                        </div>
                    </div>
                    <button class="note__addBtn">
                        <img src="../images/note/add.svg">
                    </button>
                </section>
            </div>
        </div>
    </main>
    <footer id="footer">
        <div class="container">
            <div class="footer">
                <div>Fill free to contact me: <a href="#" class="footer__email">mary4798713@gmail.com</a></div>
                <div class="footer__social-media">I'm on social media:
                    <ul>
                        <li>
                            <a href="https://t.me/rariramz">
                                <img src="../images/social-media/telegram.svg">
                            </a>
                        </li>
                        <li>
                            <a href="https://vk.com/rariramz">
                                <img src="../images/social-media/vk.svg">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/rariramz">
                                <img src="../images/social-media/linkedin.svg">
                            </a>
                        </li>
                        <li>
                            <a href="https://discordapp.com/users/666325574192463883">
                                <img src="../images/social-media/discord.svg">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer__logo">
                    <img src="../images/logo-min.svg">
                </div>
            </div>
        </div>
    </footer>
</body>
</html>