<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="time, management, keeps, notes, plans, dashboard">
    <meta name="description" content="Easy! time management app">
    <title>Easy!</title>
    <link rel="stylesheet" href="../styles/css/index.css">
</head>
<body>
    <header id="header">
        <div class="container">
            <div class="header">
                <div class="header__left">
                    <a href="./dashboard.html">
                        <img class="header__logo" src="../images/logo.svg">
                    </a>
                    <nav class="header__selects">
                        <div class="header__select select">
                            <label class="select__label">Workspace</label>
                            <select class="select__options">
                                <option>Mine</option>
                                <option>My</option>
                            </select>
                        </div>
                        <div class="header__select select">
                            <label class="select__label">Board</label>
                            <select class="select__options">
                                <option>Study</option>
                            </select>
                        </div>
                    </nav>
                </div>
                <div class="header__right">
                    <button class="header__moonBtn">
                        <img src="../images/moon.svg">
                    </button>
                    <button class="header__userBtn">
                        <a href="./signUp.html">
                            <img src="../images/user.svg">
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </header>
    <main id="main">
        <div class="authorization">
            <form class="authorization__form">
                <h2 class="authorization__title">Authorization</h2>
                <fieldset class="authorization__inputs">
                    <input type="email" placeholder="Login">
                    <input type="password" placeholder="Password">
                </fieldset>
                <fieldset class="authorization__buttons">
                    <p class="authorization__tip">
                        Don't have an account yet?<br>
                        <a href="./signUp.html">Sign up!</a>
                    </p>
                    <input class="authorization__btn" type="submit" value="Sign in">
                </fieldset>
            </form>
        </div>
    </main>
    <footer id="footer">
        <div class="container">
            <div class="footer">
                <div>Fill free to contact me: <a href="#" class="footer__email">mary4798713@gmail.com</a></div>
                <div class="footer__social-media">I'm on social media:
                    <ul>
                        <li>
                            <a href="https://t.me/rariramz">
                                <img src="../images/social-media/telegram.svg">
                            </a>
                        </li>
                        <li>
                            <a href="https://vk.com/rariramz">
                                <img src="../images/social-media/vk.svg">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/rariramz">
                                <img src="../images/social-media/linkedin.svg">
                            </a>
                        </li>
                        <li>
                            <a href="https://discordapp.com/users/666325574192463883">
                                <img src="../images/social-media/discord.svg">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer__logo">
                    <img src="../images/logo-min.svg">
                </div>
            </div>
        </div>
    </footer>
</body>
</html>