#footer {
    background: url("../../images/paper.jpg");
    background-size: contain;
    background-repeat: repeat;
    height: 46px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.footer {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 20px;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    li {
        padding-left: 5px;
    }
}

.footer__email {
    font-style: italic;
}

.footer__social-media {
    margin-left: 43px;
    @extend %flex-row-center;
}

.footer__logo {
    margin-left: 43px;
}