#header {
    background: url("../../images/paper.jpg");
    background-size: contain;
    background-repeat: repeat;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    overflow: visible;
    z-index: 11;
}

#header-extra {
    display: none;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/paper.jpg");
    background-size: contain;
    background-repeat: repeat;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    height: 51px;
    overflow: visible;
    border-radius: 0 0 30px 30px;
    z-index: 10;
}

.header {
    width: 98%;
    @extend %flex-row-space-between;
}

.header__left {
    @extend %flex-row-space-between;
}

.header__logo {
    padding-right: 63px;
    cursor: pointer;
}

.header__selects {
    @extend %flex-row-space-between;
}

.pseudo-select {
    @extend %flex-column-start;
    align-items: flex-start;
    margin-right: 63px;
    font-family: 'Roboto', sans-serif;
}

.pseudo-select__name {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 5px;
    color: $grey;
}

.pseudo-select__content {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 18px;
}

.pseudo-select__chosen {
    @extend %flex-row-center;
    cursor: pointer;
    font-weight: 400;
    
    img {
        margin-left: 1px;
    }
}

.pseudo-select__options {
    @extend %flex-column-center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/paper.jpg");
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    padding: 5px;
    border-radius: 5px;
    margin-top: 3px;
    position: absolute;

    input {
        box-sizing: border-box;
        height: 30px;
        cursor: pointer;
        transition: 0.1s ease-in;
        font-weight: 300;
        padding: 1px 3px;
        margin-bottom: 5px;
        max-width: 110px;
        color: #ffffff;
        background-color: $grey;
        border-radius: 5px;
    }

    input:hover {
        font-weight: 400;
        transition: color 0.3s ease-out;
        color: $grey;
        background-color: transparent;
        border: 2px solid $grey;
    }

    button {
        background-color: transparent;
    }
}

.header__right {
    @extend %flex-row-space-between;

    button {
        background-color: transparent;
    }
}

.header__userBtn {
    margin-left: 17px;
}

//BREAKPOINTS
@media screen and (min-width: 1200px) {}
  
@media screen and (max-width: 1199px) {}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {
    #header {
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    }
    #header-extra {
        display: block;
    }
}

@media screen and (max-width: 575px) {}

@media screen and (max-width: 400px) {}