#header {
    background: url("../../images/paper.jpg");
    background-size: contain;
    background-repeat: repeat;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    @extend %flex-row-space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    overflow: hidden;
}

.header {
    width: 98%;
    @extend %flex-row-space-between;
}

.header__left {
    @extend %flex-row-space-between;
}

.header__logo {
    padding-right: 63px;
}

.header__selects {
    @extend %flex-row-space-between;
}

.select {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 63px;

    select {
        appearance: none;
        background-color: transparent;
        cursor: pointer;
        font-size: 14px;
        line-height: 16px;
        color: $grey;
    }
}

.select__label {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.select__options {}

.select__options:after {
    content: "gfhfg";
    background-image: url("../../images/arrow.svg")
}

.header__right {
    @extend %flex-row-space-between;
}

.header__userBtn {
    margin-left: 17px;
}