%flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

%flex-row-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

%flex-row-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

%flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

%flex-column-space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

%flex-column-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

%custom-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 5px;
}

%custom-checkbox:checked {
    background-image: url("../../images/note/checkmark.svg");
    background-size: contain;
}